.container {
    width: 40%;
}

.avatar {
    width: 30px;
    border-radius: 50%;
}

.name {
    font-size: 0.5em;
}

.hidden-info {
    visibility: hidden
}

ul {
    list-style: none;
    padding: 0;
}

.info {
    display:inline-block;
    vertical-align:middle;
}

.send-message {
    width: 50%;
}